In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as s
import pandas as p
%matplotlib inline

In [8]:
tips=p.read_csv("./../seaborn-data/tips.csv")

In [9]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [15]:
feature=tips[['total_bill']]
target=tips['tip']

In [16]:
feature.shape

(244, 1)

In [17]:
#X_train-->feature by which model will be trained 
#Y_train-->label used to feed while model training
#x_test-->feature by which we will test accuracy of model
#y_test-->label used to test accuracy off model

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [39]:
X_train,x_test,Y_train,y_test= train_test_split(feature,target,test_size=0.25)

In [40]:
model=LinearRegression()

In [42]:
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [44]:
tips[:10]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [46]:
tips['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [47]:
day={'Sun':1,'Sat':2,'Thur':3,'Fri':4}
def change_day(day):
    if day=='Sun':
        return 1
    elif day=='Sat':
        return 2
    elif day=='Thur':
        return 3
    else:
        return 4

In [49]:
tips['day']=tips['day'].map(day)

In [50]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No    1  Dinner     2
1       10.34  1.66    Male     No    1  Dinner     3
2       21.01  3.50    Male     No    1  Dinner     3
3       23.68  3.31    Male     No    1  Dinner     2
4       24.59  3.61  Female     No    1  Dinner     4

In [51]:
tips['smoker']=tips['smoker'].map({'Yes':1,'No':2})

In [52]:
tips['sex']=tips['sex'].map({'Female':1,'Male':2})

In [53]:
tips.head()

   total_bill   tip  sex  smoker  day    time  size
0       16.99  1.01    1       2    1  Dinner     2
1       10.34  1.66    2       2    1  Dinner     3
2       21.01  3.50    2       2    1  Dinner     3
3       23.68  3.31    2       2    1  Dinner     2
4       24.59  3.61    1       2    1  Dinner     4

In [54]:
target=tips['tip']

In [ ]:
feature=tips[['total']]