In [2]:

import MySQLdb as sql

In [3]:
db=sql.connect(host="localhost",
           port=3306,
           user="root",
           password="",
           database="summer_intern")

In [4]:
cur=db.cursor()

In [5]:
cmd="show tables;"

In [6]:
cur.execute(cmd)

1

In [7]:
data=cur.fetchone()
print(data)

('student',)

In [8]:
cmd="select * from student;"
cur.execute(cmd)

3

In [9]:
data=cur.fetchall()
print(data)

((1, 'Sachin yadav ', 'python', 15000.0), (2, 'kushal', 'linus', 8000.0), (3, 'rajat', 'cloud', 1000.0))

In [10]:
cmd="select roll_num from student order by roll_num desc; "
cur.execute(cmd)

3

In [11]:
data=cur.fetchall()
print(data)

((3,), (2,), (1,))

In [14]:
data[1][0]

2

In [ ]:
cmd="select roll_num from student order by roll_num desc;"
cur.execute(cmd)
last_roll=